<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>MainPage</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-item> DataBase: <ion-input [(ngModel)]="dbName"></ion-input> </ion-item>
  <ion-item
    >Collection: <ion-input [(ngModel)]="collectionName"></ion-input
  ></ion-item>
  <ion-button type="submit" (click)="createDb()" [disabled]="buttonState"
    >Create DataBase</ion-button
  >
  <ion-button type="submit" (click)="loadDb()">Load Db</ion-button>
  <ion-button type="submit" (click)="eraseDb()">Erase Db</ion-button>
</ion-content>
